[Unit]
Description=Valheim Dedicated Server
Wants=network-online.target
After=network-online.target

[Service]
Environment=SteamAppId=892970
Environment=LD_LIBRARY_PATH=/home/valheim/valheimserver/linux64:$LD_LIBRARY_PATH
Type=simple
Restart=on-failure
RestartSec=10
KillSignal=SIGINT
User=valheim
Group=valheim
WorkingDirectory=/home/valheim/valheimserver
ExecStartPre=/usr/games/steamcmd +login anonymous +force_install_dir /home/valheim/valheimserver +app_update 896660 validate +exit
ExecStart=/home/valheim/valheimserver/valheim_server.x86_64 -nographics -batchmode -port 2456 -public <ISPUBLIC> -name "<SERVERNAME>" -world "<WORLDNAME>" -password "<PASSWORD>" -savedir "/home/valheim/valheim_save_data"

[Install]
WantedBy=multi-user.target 